<a href="https://colab.research.google.com/github/devmatsuko/python-practice/blob/main/section4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture14:Series（1次元のデータ列）

In [1]:
import pandas as pd
from pandas import Series

In [2]:
# アレイとシリーズの違いはシリーズにはindexがついている。
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
# シリーズ内の値のみを取得
obj.values

array([ 3,  6,  9, 12])

In [5]:
# シリーズ内のindexのみ取得
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# indexに文字列を指定することもできる
ww2_cas = Series([8700000,4300000,3000000,2100000,4000000], index=['USSR','Germany','China','Japan','USA'])

In [7]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [9]:
# 参照時に個別にindexを指定し、値を取得
ww2_cas['USA']

4000000

In [10]:
# []内に条件を指定することもできる。
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [13]:
# USSRが含まれているかを判定する
'USSR' in ww2_cas

True

In [16]:
# Series配列を辞書型に変換
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [18]:
# 辞書型の配列をSeries配列に変換
ww2_Series = Series(ww2_dict)

In [19]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [20]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [21]:
# 上述で作成した辞書型配列のindexをcountriesにする
obj2 = Series(ww2_dict, index=countries)

In [22]:
# アルゼンチンのデータはないのでNaNになる
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [24]:
# nullがTrue
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [25]:
# null以外がTrue
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [26]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [27]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [28]:
# indexが揃っている部分は足算される
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA           8000000.0
USSR         17400000.0
dtype: float64

In [29]:
# シリーズ配列に名前をつける
obj2.name = "第二次世界大戦の死傷者"

In [30]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [31]:
# indexに名前をつける
obj2.index.name = 'Countries'

In [32]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

# Lecture15:DataFrame

In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [38]:
# クリップボードの中身をデータフレームとして格納
# GoogleColabでは実行不可
nfl_frame = pd.read_clipboard()

PyperclipException: ignored

In [1]:
data = {'City' : ['SF','LA','NWC'], 'Population':[837000,3880000,8400000]}

In [5]:
data

{'City': ['SF', 'LA', 'NWC'], 'Population': [837000, 3880000, 8400000]}

In [8]:
# 辞書型の配列をデータフレーム型に変更する
city_frame = DataFrame(data)

In [9]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NWC     8400000

# Lecture16:indexの基本

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# indexだけ取り出して取得
my_index = my_ser.index

In [5]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
my_index[0]

'A'

In [7]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [8]:
# pandasのindexは個別に変更することはできない
my_index[0] = 'Z'

TypeError: ignored